<h1 class="text-center">Editing Event</h1>

<%= render 'form', event: @event %>

<div class="text-center">
<%= link_to 'Show', @event , class: "btn btn-info" %> 
<%= link_to 'Back', events_path , class: "btn btn-secondary" %>
</div>
